html {
    height: 100%;
    width: 100%;
    position: relative;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
    position: relative;
}
* {
    padding: 0%;
    margin: 0%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/* header */

.header {
    height: 30%;
    width: 100%;
    background-color: rgb(49, 44, 44);
	clear:both;
	position:fixed;
    z-index: 10;
}
.section__header {
    height: 70%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.div__Img {
    width: 20%;
    height: 100%;
    padding: 0%;
    justify-content: center;
    display: flex;
}
.fotocarnet {
    padding: 2%;
    border-radius: 2.5rem;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
}
.headercontainer {
    padding-left: 2%;
    height: 100%;
    width: 80%;
    color: #d1cab5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: italic;
}
.headerh1 {
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-style: normal;
}
.headernav {
    /*background-color: rgb(85, 76, 76);*/
    height: 30%;
    color: #d1cab5;

    font-weight: bolder;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.nav__label, .nav__input {
    display: none;
}
.navdiv2 {
    width: 100%;
    height: 30%;
    color: #d1cab5;

    font-weight: bolder;
    font-size: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.a__nav {
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);
    color: #d1cab5;
}
.a__nav::after {
    content: "";
    display: block;
    background: #d1cab5;
    color: #d1cab5;
    width: 90%;
    height: 3px;
    margin-top: 3px;
    clip-path: var(--clippy);
    transition: clip-path 0.3s;
}
a:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
} 
.img__ham {
    filter: invert(1);
}

/* body */

.main1 {
    background-color: #926856;
    padding: 10%;
    margin-top: 10%;
    text-align: center;
    box-shadow: 0px 0px 100px 5px black;
    position: relative;
    border-radius: 3rem;
}
.main2 {
    background-color: #a58779;
    padding: 10%;
    text-align: center;
    box-shadow: 0px 0px 100px 5px black;
    position: relative;
    border-radius: 3rem;
}
.main {
    background-color: #a58779;
    padding: 10%;

    text-align: center;
}
.main__section {
    text-align: center;
    padding-right: 30%;
    padding-left: 30%;
}
.sobremi {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bolder;
    font-size: 2rem;
    padding: 2%;
}
.section__grl {
    background-color: #a7a191;
    padding: 10%;

}
.Section__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__h1 {
    display: flex;
    justify-content: center;
    padding: 7%;
    font-size: 3rem;
}
.titulo {
    font-size: 3rem;
    margin-bottom: 10%;
    font-style: italic;
    border-bottom: solid;
}

/* Experiencia */

.Exp_section {
    display: flex;
    flex-direction: row;
    text-align: left;
}
.Exp_Vod {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Exp_Vod2 {
    display: flex;
    justify-content: left;
    padding-top: 5%;
}
.Exp__h2 {
    padding-top: 2%;
    padding-left: 5%;

}
p {
    padding-bottom: 2%;
}

/* Estudios */

.Est_section {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Ed_DST_UADE {
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.DST_UADE {
    width: 120%;
    display: flex;
}

/* Conocimientos */
.Con__Section {
    display: flex;
    flex-direction: column;
    padding-bottom: 6%;
}
.Con__Section2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}
.Con__h3 {
    font-size: 2rem;
}
li {
    font-style: italic;
    list-style-type: none;
    padding: 0.5%;
}

/* footer */

.footer {
    margin-top: auto;

    background-color: rgb(85, 76, 76);
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.footer p{
    font-size: 0.71rem;
    color: black;
    display: flex;
    justify-content: center;
}

/* Contacto */

.Cont_main__section {
    display: flex;
    flex-direction: block;
    padding: 5%;
    justify-content: center;
}
.img_div {
    padding: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0%;
    padding-left: 3%;
    padding-right: 3%;
}
.icon {
    color: black;
}
.a__icon:hover {
    fill: #a58779;
}
.abc {
    width: 15%;
    background-color: rgb(85, 76, 76);
}
.cba {
    display: flex;
    flex-direction: row;
    background-color: rgb(85, 76, 76);
}
.midsection {
    background-color: rgb(85, 76, 76);
    height: 1%;
    width: 100%;
    padding: 0%;
    z-index: 11000;
    position: relative;
}
.maindisposal {
    display: flex;
    flex-direction: column;
}


/* Mobil */
@media ( max-width: 765px ) {

    .headernav {
        display: none;
    }
    .nav__input:checked + .headernav {
        height: auto;
        display: flex;
        top: -6%;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-left: 0%;
        background-color: rgb(49, 44, 44);
    } 
    nav {
        justify-content: left;
        margin-left: 0%;
    }
    .navdiv {
        display: block;
        height: 30%;
    }
    .nav__label{
        display: block;
        cursor: pointer;
        width: max-content;
        padding-top: 3%;
    
    }
    .div__Img {
        width: 50%;
    }
    .nav__input:checked .main {
        padding-top: 50%;
    }
    .a__nav {
        padding: 2%;
    }
    .Est_section {
        flex-direction: column;
    }
    .img__Est {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .main {
        padding-left: 4%;
        padding-right: 4%;
        margin-top: 30%;
    }
    .Exp_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .Exp__h2 {
        align-items: center;
    }
    .main__section{
        padding-left: 20%;
        padding-right: 20%;
    }
    .midsection {
        height: 0.5%;
    }
    .titulo {
        font-size: 2.5rem;
        margin-top: 15%;
    }
}

@media ( max-width: 866px ) {
    .div__Img {
        width: 50%;
    }
}



@media ( max-width: 1300px ){
    .main1 {
        margin-top: 15%;
    }
}
@media ( max-width: 1000px ) {
    .DST_UADE {
        width: auto;
    }
}
@media ( max-width: 1000px ) {
    .main1 {
        margin-top: 20%;
    }
}
@media ( max-width: 800px ) {
    .main1 {
        margin-top: 25%;
    }
}
@media ( max-width: 650px ) {
    .main1 {
        margin-top: 35%;
    }
}
@media ( max-width: 550px ) {
    .main1 {
        margin-top: 45%;
    }
}
@media ( max-width: 450px ) {
    .main1 {
        margin-top: 55%;
    }
    .titulo {
        font-size: 2rem;
    }
    
}
@media ( max-width: 390px ) {
    .main1 {
        margin-top: 65%;
    }
    
}